/.project
/.settings/org.eclipse.m2e.core.prefs
/.settings
/.classpath
*.iml
*.ipr
/.idea
/client-utils/.settings
/client-utils/.classpath
/client-utils/.project
/client-maven-enforcer/.project
/client-maven-enforcer/.classpath
/client-maven-enforcer/.settings
