<configuration>
    <jmxConfigurator />
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator" />
    <property scope="context" name="log.pattern" value="%date %-5level [%thread] MDC[%mdc] %logger{36} - %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level [%thread] MDC[%mdc] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="${rootLoggingLevel:-INFO}">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
